APP_PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=users_api
JWT_ACCESS_SECRET=access
JWT_REFRESH_SECRET=refresh
JWT_ACCESS_TTL=5m
JWT_REFRESH_TTL=7d
